<div class="pages">
	<div data-page="app.main" id="app.main" class="page navbar-fixed toolbar-fixed">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="javascript:openLeftMenu();" class="link">
						<span class="mdi mdi-24px mdi-menu"></span>
					</a>
				</div>
				<div class="center">Home</div>
				<div class="right">
					<a href="javascript:NavigateTo('app.form')" class="link">
						<span class="mdi mdi-24px mdi-plus"></span>
					</a>
					<!-- <a href="javascript:zoomTo('user-location')" class="link"> -->
						<!-- <span class="mdi mdi-24px mdi-crosshairs-gps"></span> -->
						<!-- <span class="mdi mdi-24px mdi-home"></span> -->
					<!-- </a> -->
					<a href="javascript:testModal()" class="link">
						<span class="mdi mdi-24px mdi-shield-check"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="page-content" style="padding-top:0">
			<div id="main_map" class="map-container" style="margin-top: 56px;"></div>
		</div>
	</div>
</div>